<div class="form-signin">

<div class="author-detail">
    <h2>{{author.name}}</h2>
    <p>
        <strong>Id Autor:</strong> {{author.id}}</p>
    <p>
        <strong>Fecha de Nacimiento:</strong> {{author.dateOfBirth}}</p>
    <p>
        <strong>Fecha de Muerte:</strong> {{author.dateOfDeath}}</p>
    <p>
        <strong>Libros:</strong>
        <ul>
            {{#each author.books as |books|}}
            <li>{{#link-to 'books.book' books.id}} {{books.title}} {{/link-to}}</li>
            {{/each}}
        </ul>
        <h3>La cantidad total de libros que ha escrito es :
            <strong>{{author.books.length}}</strong>
        </h3>
    </p>

</div>
</div>

{{yield}}