<div class="author-detail">
    {{#each model as |author|}}
    <h2>{{author.name}}</h2>
    {{!#link-to 'author' author.name}}{{!/link-to}}
    <p>
        <strong>Id Autor:</strong> {{#link-to 'author' author.id}}{{author.id}}{{/link-to}}</p>
    <p>
        <strong>Fecha de Nacimiento:</strong> {{author.dateOfBirth}}</p>
    <p>
        <strong>Fecha de Muerte:</strong> {{author.dateOfDeath}}</p>
    <p>
        <strong>Libros:</strong>
        <ul>
            {{#each author.books as |books|}}
            <li>{{books.title}}</li>
            {{/each}}
        </ul>
        <h3>La cantidad total de libros que ha escrito es :
            <strong>{{author.books.length}}</strong>
        </h3>
    </p>
    {{/each}}
</div>

{{yield}}